#!/bin/sh

cmd=$1

#pip freeze > requirements.txt # 生成requirements.txt
#pip install -r requirements.txt # 从requirements.txt安装依赖

#serverNum=$(($((`cat /proc/cpuinfo | grep processor | wc -l`))-1))
#sed -i "/workers/s/[0-9]\+/$serverNum/" conf/server_cfg.py
# gunicorn usage to see：https://bbs.huaweicloud.com/blogs/309794
# https://www.cnblogs.com/lantingg/p/14775590.html
function start() {
  if [ ! -d "../logs/gunicornlog" ]; then
    mkdir -p ../logs/gunicornlog
  fi
  echo "starting workers"
  gunicorn -k gevent --daemon --max-requests=100 --conf=conf/server_cfg.py app:app
}

function stopjob() {
  ps aux | grep -v grep | grep $1 | xargs echo
  ps aux | grep -v grep | grep $1 | awk '{print $2}' | xargs echo
  ps aux | grep $1 | grep -v grep | awk '{print $2}' | xargs kill -9
}

echo "CMD is the only arg: start | stop | restart"

if [ "$cmd"x = "start"x ]; then
  sleep 1
  start
elif [ "$cmd"x = "stop"x ]; then
  sleep 1
  stopjob "app:app"
elif [ "$cmd"x = "restart"x ]; then
  sleep 1
  stopjob "app:app"
  sleep 2
  start
else
  echo "ERROR: unknow cmd!!!"
fi
